:root {
	--black: #212121;
	--grey: #757575;
	--light-blue: #2196f3;
	--white: #ffffff;
	--main-banner-container: #2f303a;
	--footer-container: #2f303a;
	--portfolio-button: #f5f4fa;
}

body {
	color: var(--black);
	background-color: var(--white);
	font-family: "Roboto", sens-serif;
	margin: 0px;
	padding: 0px;
}

.menu-logo {
	text-decoration: none;
	font-family: "Raleway";
	font-style: normal;
	font-weight: 700;
	font-size: 26px;
	line-height: 31px;
	/* identical to box height */
	letter-spacing: 0.03em;
	color: var(--light-blue);
}
.menu-logo-titel {
	color: #000000;
}
.menu-nav > ul {
	list-style-type: none;
	font-weight: 500;
	font-size: 14px;
	line-height: 16px;
	letter-spacing: 0.02em;
}
.menu-nav-link {
	text-decoration: none;
	color: var(--black);
}
.menu-nav-link:hover,
.menu-nav-link:focus {
	color: var(--light-blue);
}
.menu-contacts {
	font-weight: 500;
	font-size: 14px;
	line-height: 16px;
	letter-spacing: 0.02em;
}
.menu-contact-link {
	text-decoration: none;
	color: var(--grey);
}
.menu-contact-link:hover,
.menu-contact-link:focus {
	color: var(--light-blue);
}
.main-banner {
	background-color: var(--main-banner-container);
}
.main-banner-titel {
	font-weight: 900;
	font-size: 44px;
	line-height: 60px;
	/* or 136% */
	text-align: center;
	letter-spacing: 0.06em;
	text-transform: uppercase;
	color: var(--white);
}
.main-banner-button {
	font-weight: 700;
	font-size: 16px;
	line-height: 30px;
	/* identical to box height, or 188% */
	display: flex;
	align-items: center;
	text-align: center;
	letter-spacing: 0.06em;
	color: var(--white);
	background-color: var(--light-blue);
	cursor: pointer;
}

.main-description > ul {
	list-style-type: none;
}
.main-description-titel {
	font-weight: 700;
	font-size: 14px;
	line-height: 16px;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	color: var(--black);
}
.main-description-text {
	font-size: 14px;
	line-height: 24px;
	/* or 171% */
	letter-spacing: 0.03em;
	color: var(--grey);
}
.about-titel {
	font-weight: 700;
	font-size: 36px;
	line-height: 42px;
	text-align: center;
	letter-spacing: 0.03em;
	color: var(--black);
}
.about > ul {
	list-style-type: none;
}
footer {
	background-color: var(--footer-container);
}
.footer-logo {
	text-decoration: none;
	font-family: "Raleway";
	font-style: normal;
	font-weight: 700;
	font-size: 26px;
	line-height: 31px;
	/* identical to box height */
	letter-spacing: 0.03em;
	color: var(--light-blue);
}
.footer-logo-title {
	color: var(--white);
}
.footer-adress-list > ul {
	list-style-type: none;
}
.footer-adress {
	text-decoration: none;
	color: var(--white);
	font-style: normal;
	font-size: 14px;
	line-height: 24px;
	/* or 171% */
	letter-spacing: 0.03em;
}
.footer-contacts {
	text-decoration: none;
	font-style: normal;
	font-size: 14px;
	line-height: 24px;
	/* or 171% */
	letter-spacing: 0.03em;

	color: rgba(255, 255, 255, 0.6);
}
.hidden {
	opacity: 0;
}
