:root {
	--black: #212121;
	--grey: #757575;
	--light-blue: #2196f3;
	--white: #ffffff;
	--hero-banner-container: #2f303a;
	--footer-container: #2f303a;
	--team: #f5f4fa;
	--portfolio-button: #f5f4fa;
}

body {
	color: var(--black);
	background-color: var(--white);
	font-family: "Roboto", sens-serif;
	margin: 0px;
	padding: 0px;
}
/* główna nawigacja na stronie logo + podstrony + kontakty */
.menu-logo {
	text-decoration: none;
	font-family: "Raleway";
	font-style: normal;
	font-weight: 700;
	font-size: 26px;
	line-height: 1.2;
	letter-spacing: 0.03em;
	color: var(--light-blue);
}
.menu-logo-titel {
	color: #000000;
}
.menu-nav > ul {
	list-style-type: none;
	font-weight: 500;
	font-size: 14px;
	line-height: 1.15;
	letter-spacing: 0.02em;
}
.menu-nav-link {
	text-decoration: none;
	color: var(--black);
}
.menu-nav-link:hover,
.menu-nav-link:focus {
	color: var(--light-blue);
}
.menu-contacts {
	font-weight: 500;
	font-size: 14px;
	line-height: 1.15;
	letter-spacing: 0.02em;
}
.menu-contact-link {
	text-decoration: none;
	color: var(--grey);
}
.menu-contact-link:hover,
.menu-contact-link:focus {
	color: var(--light-blue);
}

/* główny tytuł strony hero */
.hero-banner {
	background-color: var(--hero-banner-container);
}
.hero-banner-titel {
	font-weight: 900;
	font-size: 44px;
	line-height: 1.37;
	text-align: center;
	letter-spacing: 0.06em;
	text-transform: uppercase;
	color: var(--white);
}
.hero-banner-button {
	font-weight: 700;
	font-size: 16px;
	line-height: 1.88;
	display: flex;
	align-items: center;
	text-align: center;
	letter-spacing: 0.06em;
	color: var(--white);
	background-color: var(--light-blue);
	cursor: pointer;
}

/* 4 krótkie artykuły */
.main-description > ul {
	list-style-type: none;
}
.main-description-titel {
	font-weight: 700;
	font-size: 14px;
	line-height: 1.15;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	color: var(--black);
}
.main-description-text {
	font-size: 14px;
	line-height: 1.72px;
	letter-spacing: 0.03em;
	color: var(--grey);
}
/* about us, czym się zajmujemy, same zdjęcia + tytuł*/

.about-titel {
	font-weight: 700;
	font-size: 36px;
	line-height: 1.17;
	text-align: center;
	letter-spacing: 0.03em;
	color: var(--black);
}
.about > ul {
	list-style-type: none;
}

/* our team*/
.team {
	background-color: var(--team);
}
.team > ul {
	list-style-type: none;
}
.team-title {
	font-weight: 700;
	font-size: 36px;
	line-height: 1.17;
	text-align: center;
	letter-spacing: 0.03em;
	color: var(--black);
}
.team-list-name {
	font-weight: 500;
	font-size: 16px;
	line-height: 1.19;
	text-align: center;
	letter-spacing: 0.03em;
	color: var(--black);
}
.team-list-position {
	font-size: 16px;
	line-height: 1.19;
	text-align: center;
	letter-spacing: 0.03em;
	color: var(--grey);
}
/*portfolio ==================================================== */
.button-nav > ul {
	list-style-type: none;
}
.button-nav button {
	font-weight: 500;
	font-size: 16px;
	line-height: 1.63;
	text-align: center;
	letter-spacing: 0.03em;
	color: var(--black);
	background-color: var(--portfolio-button);
	border-style: hidden;
	border-radius: 4px;
	cursor: pointer;
}
.button-nav button:hover,
.button-nav button:focus {
	color: var(--white);
	background-color: var(--light-blue);
}

/*footer*/
footer {
	background-color: var(--footer-container);
}
.footer-logo {
	text-decoration: none;
	font-family: "Raleway";
	font-style: normal;
	font-weight: 700;
	font-size: 26px;
	line-height: 1.2;
	letter-spacing: 0.03em;
	color: var(--light-blue);
}
.footer-logo-title {
	color: var(--white);
}
.footer-adress-list > ul {
	list-style-type: none;
}
.footer-adress {
	text-decoration: none;
	color: var(--white);
	font-style: normal;
	font-size: 14px;
	line-height: 1.72;
	letter-spacing: 0.03em;
}
.footer-contacts {
	text-decoration: none;
	font-style: normal;
	font-size: 14px;
	line-height: 1.72;
	letter-spacing: 0.03em;

	color: rgba(255, 255, 255, 0.6);
}
.hidden {
	opacity: 0;
}
